.buyDiv {
    display: inline-flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 45%
}

.buyCard {
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    padding: 2% 2%;
    border-bottom: solid 1px lightgray;
    width: 100%;
    max-height: 130px;
    height: 130px;
    background-color: white;
    margin-left: 5%;
    margin-bottom: 1%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(8, 7, 16, 0.6);
}

.optionDiv>img {
    width: 100px;
    height: 100px;
}

.buyCard>img {
    width: 90%;
    /* mix-blend-mode:normal; */
}

.buyCardDetails {
    color: rgb(7, 7, 7);
    display: flex;
    text-align: center; 
    flex-direction: column;
    font-size: 1px;
    font-weight: 550;
    
}
.buyDetails{
    font-size: 1.2rem;
}
.buyPriceSpan{
    font-size: 1.1rem;
}


.buyCard .quantity {
    display: inline;
    margin-top: 5%;
}

.qty {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 7%;
    left: 25%;

}

.buyPrice {
    position: absolute;
    display: inline;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    right: 5%;
}

.qty .btn-qty {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    /* background: #f5f5f5; */
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}

.qty .disabled {
    pointer-events: none;
    color: #eb0d0d;
}

.qty .qty-value {
    padding: 0;
    margin: 0 10px;
    line-height: 0px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: default;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 40;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    /* background-color: #fff; */
    color: #222222;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buyCard .price {
    border: none;
    width: 5px;
    height: 5px;
    border-top-right-radius: 0px;
}

.buyCard .price {
    display: inline;
    margin-left: 5px;
    font-size: 20px;

}

.removeBuy{
    text-align: right;
    cursor: pointer;
    color: #eb0d0d;
}

@media (max-width:1505px) {
    .qty {
        position: absolute;
        left: 30%;
    }
}


@media (max-width:1350px) {
    
    .buyDiv {
        display: flex;
        margin-right: 0px;
        margin-left: 0px;
        width: 80%
    }
    .qty {
        position: absolute;
        left: 25%;
    }
}
@media (max-width:900px){
    .qty {
        position: absolute;
        left: 30%;
    }
}

@media (max-width:600px) {
    .buyDiv {
        display: flex;
        width: 80%
    }
    .buyCardDetails {
        font-size: 17px;
        font-weight: 550;
        
    }
    .buyCard .price {
        font-size: 17px;
    
    }
}

@media (max-width:550px) {
    .qty {
        position: absolute;
        left: 35%;
    }
    .buyCardDetails {
        font-size: 14px;
        font-weight: 550;
        
    }
    .buyCard .price {
        font-size: 14px;
    
    }
}

@media (max-width:510px) {
    .optionDiv>img {
        width: 70px;
        height: 70px;
    }
    .buyCardDetails {
        font-size: 17px;
        font-weight: 550;
        
    }
    .buyCard .price {
        font-size: 17px;
    
    }
    .qty {
        position: absolute;
        bottom: 7%;
        left: 1%;
    
    }
}
@media (max-width:510px) {

    }
    .buyCardDetails {
        font-size: 12px;
        font-weight: 550;
        
    }
    .buyCard .price {
        font-size: 12px;
    
    }
    

