

  .home_page{
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 35px;
    margin-right: 35px;

   
  }
  .topContent {
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 200%;
    text-align: center;
   
  }
 
  .productContent>h2{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 250%;
    text-align: left;
  
  }

  .goTo{
    font-size: 30px;
 margin-left: 48%;
 color: #192bd1;
  
 

  }
  
 
 
  