.comingSoon{
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    box-shadow: 0 15px 30px 1px grey;
    background: white;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    height: max-content;
    width: 50%;
}

.comingSoonDiv{
    /* padding: auto; */
    object-fit: cover;
    text-align: center;
}
.comingSoonDiv>img{
    width: 100%;
    
}

@media (max-width:1200px) {
    .comingSoon{
        margin-top: 12%;
    }
}
@media (max-width:820px) {
    .comingSoon{
        margin-top: 15%;
    }
}
@media (max-width:820px) {
    .comingSoon{
        margin-top: 20%;
        margin-bottom: 8%;
    }
}
@media (max-width:650px) {
    .comingSoon{
        margin-top: 20%;
        margin-bottom: 11%;
    }
}
@media (max-width:450px) {
    .comingSoon{
        margin-top: 25%;
        margin-bottom: 11%;
    }
}
