
.buyProductPage{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction:column;
    min-height: 715px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.buySize{
   text-align: center;
    max-height: 515px;
    overflow-y: scroll;
}

.buyProducts{
   width: 70%;
    height: 100%;
}


.buyTitle{
    padding: 40px;
   text-align: center;
    font-size:3rem;
    color:rgb(7, 7, 7);
    font-weight:800;
    text-align:center;
}



.details .buy_size{
    
    text-align: center;
    color: white;
    overflow-y: scroll;
}

.subtotal{
    margin-top: 2%;
    font-size:2rem;
    color:rgb(7, 7, 7);

    font-weight: 600;
    text-align:end;
}

#buybtn{
    margin-top: 30px;
        width: 30%;
        text-align: center;
        background-color: rgba(255,255,255,0.13);
        color: #080710;
        padding: 15px ;
        font-size: 18px;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
} 
.buyBtnDiv{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

@media (max-width:1400px) {  
    .buyProducts{
        width: 60%;
         height: 100%;
     }
     .buySize{
        margin-right: -10%;
        }
}
@media (max-width:1350px) {  
    .buySize{
    margin-right: -30%;
    max-height: 515px;
        overflow-y: scroll;
    }
}

@media (max-width:1000px) {  
    .buyProducts{
        width: 70%;
         height: 100%;
     }
     .buySize{
        
        max-height: 475px;
        overflow-y: scroll;
        }
}

@media (max-width:800px) {  
    .buyProducts{
        width: 80%;
         height: 100%;
     }
     .buySize{
        margin-right: -20%;
        max-height: 405px;
        overflow-y: scroll;
        }
     
}
@media (max-width:600px) {  
    
     .buySize{
        margin-left: 5%;
        margin-right: -15%;
        }

        .buyTitle{
            padding: 30px;
            /* font-size:2rem; */
            font-weight:600;
            text-align:center;
        }
        .subtotal{
          
            font-size:1.5rem;
            color:rgb(7, 7, 7);
        
            font-weight: 600;
            text-align:end;
        }
        .buySize{
            max-height: 385px;
            overflow-y: scroll;
        }
        
}
@media (max-width:520px) {  
    
    .buySize{
       margin-left: 5%;
       margin-right: -15%;
       }

       .buyTitle{
        padding: 20px;
        
       }
       
       .buySize{
           max-height: 385px;
           overflow-y: scroll;
       }
       
}

